.DS_Store
*~
/web/resources/rhyme-index/data/wrd/abbé.csv
/web/resources/rhyme-index/data/wrd/baubeè.csv
/web/resources/rhyme-index/data/wrd/brüin.csv
/web/resources/rhyme-index/data/wrd/fête.csv
/web/resources/rhyme-index/data/wrd/goût.csv
/web/resources/rhyme-index/data/wrd/loüis.csv
/web/resources/rhyme-index/data/wrd/minè.csv
/web/resources/rhyme-index/data/wrd/rhône.csv
/web/resources/rhyme-index/data/wrd/romeô.csv
/web/resources/rhyme-index/data/wrd/séve.csv
/web/resources/rhyme-index/data/wrd/tête.csv
/web/resources/rhyme-index/data/wrd/vertù.csv
/web/resources/rhyme-index/data/wrd/virtù.csv
/web/resources/rhyme-index/data/wrd/à-la-reine.csv
