<!-- Stylesheets -->

.reg {
	color:#333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	}

.small {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

p.reg	{
	color:#333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

p.small {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

a:visited {
	color: #003366;
	text-decoration: none;
}

a:link {  
	color: #003366;
	text-decoration: none;
}

a:hover {
	color: #9ba0c3;
	text-decoration: none;
}
	
a:active {
	color: #333333;
	text-decoration: none;
}

td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	vertical-align:top;
}

.goldenrod {
	color: #DAA520;
	text-decoration: none;
}

.goldenrod:visited {
	color: #DAA520;
	text-decoration: none;
}

.goldenrod:link {  
	color: #DAA520;
	text-decoration: none;
}

.goldenrod:hover {
	color: #EDE275;
	text-decoration: none;
}
	
.goldenrod:active {
	color: #DAA520;
	text-decoration: none;
}
	