#carousel-home-page {
    background: black;
    margin: 0 ;
    padding: 0;
    border: none;
display: none;
}


body#home #carousel-home-page  {
	
	display: block;
	
	
}

.carousel-home-page {
	padding: 0 !important;
	}

#ecpa-carousel {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.carousel-caption a:link, .carousel-caption a:visited,.carousel-caption a:hover,.carousel-caption a:active { 
    text-decoration: none;
    color: white;
    background-color: #101010;
    padding: 5px;

}

.carousel-inner > .item > img {
    margin: 0 auto ;
  max-width: none;
     overflow: visible !important; 

} 

.ecpa-padding{	
	padding: 0 0 20px 0;
	
}

div.ecep-home-box{
	
	padding: inherit 30px;
}

body#home header.ecpa .navbar, body#home header.ecpa .navbar-default, body#home header.ecpa .navbar-fixed-top, body#home header.ecpa .navbar-inverse {
margin-bottom: 0 !important;


} 

body#home header.ecpa nav {
margin-bottom: 0;

}





body#home h2.ecep-home-box {
/*    text-align: center; */

}


ul.nav-tabs a {

font-family: 'Times New Roman', Times, serif !important;

}


