
/* Modelling */


/* Layout */
#mod_viewer {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#mod_head {
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
#mod_viewer .mod_content {
    flex: 1;
    display: flex;
    overflow:hidden;
}
.mod_content .mod_columns {
    display: flex;
    flex: 1;
    height:100%;
}
#mod_cy {
    flex: 1;
    position:relative;
}
#mod_ctl {
    width: 25%;
    overflow:auto;
    height:100%;
    position:relative;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
#mod_ctl .tab-content > .tab-pane {
  left: 0;
  padding-right:0;
}
#mod_ctl .panel-group {
    margin-bottom:0;
}
#mod_ctl .panel-body {
    padding: 15px 0 0 15px;
}
#mod_ctl .nav-tabs>li.active>a {
    background-color: #f5f5f5;
}
#mod_ctl_nav .panel-heading,
#mod_ctl_vie .panel-heading {
    padding: 0 10px;
    height: 30px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
}
#mod_ctl_sel {
    display:none;
    height:auto;
}
#mod_ctl_sel_res.panel {
    margin-bottom:0;
}
#mod_ctl_sel_res ol {
    margin-left:-15px;
}
#mod_ctl_sel_res #pred ul {
    margin-left:-20px;
}
#mod_ctl_sel_res .shortcutLink,
#mod_ctl_sel_res .relsLink, #pred_undo,
#ontotempl .relsLink,
.ontofcr-collapse a,
.ontohier-collapse a {
    cursor:pointer;
}
#mod_ctl_sel_res {
    height:inherit;
	border: 0;
}
#mod_ctl_sel_res .close {
    opacity:.6;
    color:white;;
}
#mod_ctl_sel_res button.btn {
    float:right;
    margin:0 5px 5px 0;
}
#mod_ctl_sel_res .panel-body > ul {
    margin-left: -40px;
    list-style: none;
}
#idmd {
    margin-left:-30px;
}
#idmd div.listBibl ul li > span {
    display: inline-block;
    width: 85%;
    margin-left: 0;
}
#idmd div.listBibl ul li span:nth-child(2) {
    display: inline-block;
    width: 20%;
}
#view_classes,#view_instances {
    height:200px;
    overflow:auto;
    margin-left:-20px;
}
#view_classes li span:first-child,
#view_instances li span:first-child {
    display: inline-block;
    word-break: break-all;
}
#view_results ul {
	margin-left:0;
}
#view_results li {
    word-break: break-word;
}
#mod_ctl_abt li > span:first-child {
    font-weight: bold;
    display: block;
}
#ontotempl .listBibl {
    margin-left:-40px;
}
#view_results ul li {
    display: table;
	width:94%;
}
#view_results ul li span:first-child {
	display: table-cell;
    width: 35%;
	word-break: initial;
	padding-right:20px;
}
#view_results ul li span {
	display: table-cell;
    width: 70%;
}
#view_results ul {
    margin-left:-30px;
}
.ctl_buttons {
    display:inline-block;
    margin-left:25px;
    margin-right:0px;
}
.table.table-bordered tbody tr td,
.table.table-bordered tbody tr th {
    vertical-align:inherit;
}

/* JSONForm */
form p {
    margin: 0px 10px 10px 15px;
}
.expandable > legend:before {
    content: '\25B8';
    padding-right: 5px;
}
.expanded > legend:before {
    content: '\25BE';
}
/* create model */
#newModal textarea {
    resize: vertical;
}
/* shortcuts */
form[name="shortcut"] fieldset .form-group,
form[name="shortcut"] fieldset.expandable .form-group .form-group {
    display: inline-block;
    width: 33.33%;
}
form[name="shortcut"] fieldset.expandable > .form-group {
    width: 100%;
    margin-bottom:0;
}
legend {
    margin-bottom:5px;
}
#newModal img {
    width: 285px;
    margin: 10px 0;
}
#newModal fieldset#wd-image {
    width: 305px;
    float: right;
    display:none;
}
#newModal .tab-content > .tab-pane {
    position:unset;
}
#newModal .modal-footer .form-group {
    margin-bottom:0;
}
#newModal .modal-footer div {
    display: inline-block;  
}
#modelling:not( #mod_viewer ) {
/*
    background-image: url('/images/screenshots/modelling_bg.png');
    background-repeat: no-repeat;
*/
}


/* CytoScape */
#cy {
    height:100%;
    width:100%;
}
.cytoscape-navigator,.cy-panzoom {
    z-index:1;
}
.cy-panzoom {
    left:5px;
}
.cytoscape-navigator {
    right:unset;
    width:250px;
    height:250px;
}
[x-out-of-boundaries] {
    display: none;
}
.tippy-content {
    font-size:11px;
    word-break:break-word;
}


/* TreeView */
.list-group-item {
    padding: 2px 5px;
}
.treeview span.indent {
    margin-left: 9px !important;
    margin-right: 4px !important;
}
.popover-content {
    font-size:12px;
    max-height:unset;
}
#treeview-ontofcr b {
    font-weight: normal;
}
#treeview-ontohier .list-group,#treeview-ontofcr .list-group {
    margin-bottom:0;
}
.ontofcr-collapse,.ontohier-collapse {
    font-size:small;
    text-align:right;
}
