
/* Modelling */

/* create model */
#newModal textarea {
    resize: vertical;
}

/* Layout */
#mod_view {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}
#mod_head {
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
#mod_view .mod_content {
    flex: 1;
    display: flex;
}
.mod_content .mod_columns {
    display: flex;
    flex: 1;
}
#mod_cy {
    flex: 1;
}
#mod_ctl {
    width: 25%;
    overflow:auto;
    height:50%;
}


/* shortcuts */
form[name="shortcut"] fieldset .form-group,
form[name="shortcut"] fieldset.expandable .form-group .form-group {
    display: inline-block;
    width: 33.33%;
}
form[name="shortcut"] fieldset.expandable > .form-group {
    width: 100%;
    margin-bottom:0;
}
legend {
    margin-bottom:5px;
}


/* JSONForm */
form p {
    margin: 0px 10px 15px 15px;
}
.expandable > legend:before {
  content: '\25B8';
  padding-right: 5px;
}
.expanded > legend:before {
  content: '\25BE';
}


/* CytoScape */
#cy {
    height:100%;
    width:100%;
}
.cytoscape-navigator,.cy-panzoom {
    z-index:1;
}
.cytoscape-navigator {
    right:unset;
}
[x-out-of-boundaries] {
    display: none;
}


/* TreeView */
.list-group-item {
    padding: 2px 5px;
}
.treeview span.indent {
    margin-left: 7px;
    margin-right: 7px;
}
