
.text h1.main ,
#text h1.main {
    margin-top: 15px;
    font-size: 1.6em;
    line-height: 1.3em;
}
.text h2.main ,
#text h2.main {
    margin-top: 10px;
    font-size: 1.4em;
    line-height: 1.2em;
}
.text h1.sub ,
#text h1.sub {
    margin-top: 10px;
    font-size: 1.4em;
    line-height: 1.1em;
} 
.text h2.sub ,
#text h2.sub {
    margin-top: 5px;
    font-size: 1.2em;
}
.text .head-part, .text .argument h1 ,
#text .head-part, #text .argument h1 {
    font-size: 1.2em;
    margin: 5px 0;
}
.text .epigraph ,
#text .epigraph {
    width:50%;
    margin: 10px auto;
    text-align: left;
}
.text .stage ,
#text .stage {
    text-align: center;
    margin: 5px 20px;
}
.text .titlepage h2.main ,
#text .titlepage h2.main {
    font-size: 1.6em;
}
.text .titlepage h2.sub ,
#text .titlepage h2.sub {
    font-size: 1.4em;
}
.text .half-title h2.main,
.text .halftitle h2.main ,
#text .half-title h2.main,
#text .halftitle h2.main {
    font-size: 1.4em;
}
.text .half-title h2.sub,
.text .halftitle h2.sub ,
#text .half-title h2.sub,
#text .halftitle h2.sub {
    font-size: 1.2em;
}
.text .half-title, .text .halftitle, .text .titlepage, .text .dedication header, .text .imprint, .text .colophon, .text .align-center ,
#text .half-title, #text .halftitle, #text .titlepage, #text .dedication header, #text .imprint, #text .colophon, #text .align-center {
    text-align: center;
}

/* semi-diplomatic vs semi-normalized */

#text .i { font-style: italic; }
#text .n { font-style: normal; }
#text .sc { font-variant: small-caps; }
#text .b { font-weight: bold; }
#text .s { text-decoration: line-through; }
#text .u { text-decoration: underline; }

#text .h_0 { margin-left: 0 !important; }
#text .h_1 { margin-left: .5em; }
#text .h_2 { margin-left: 1em; }
#text .h_3 { margin-left: 1.5em; }
#text .h_4 { margin-left: 2em; }
#text .h_5 { margin-left: 2.5em; }
#text .h_6 { margin-left: 3em; }
#text .h_7 { margin-left: 3.5em; }
#text .h_8 { margin-left: 4em; }
#text .h_9 { margin-left: 4.5em; }
#text .h_10 { margin-left: 5em; }
#text .h_11 { margin-left: 5.5em; }
#text .h_12 { margin-left: 6em; }
#text .h_13 { margin-left: 6.5em; }
#text .h_14 { margin-left: 7em; }
#text .h_15 { margin-left: 7.5em; }
#text .h_16 { margin-left: 8em; }
#text .h_17 { margin-left: 8.5em; }
#text .h_18 { margin-left: 9em; }
#text .h_19 { margin-left: 9.5em; }
#text .h_20 { margin-left: 10em; }
#text .h_21 { margin-left: 10.5em; }
#text .h_22 { margin-left: 11em; }
#text .h-1 { margin-right: .5em; }
#text .h-2 { margin-right: 1em; }
#text .h-3 { margin-right: 1.5em; }
#text .h-4 { margin-right: 2em; }
#text .h-5 { margin-right: 2.5em; }
#text .h-6 { margin-right: 3em; }
#text .h-7 { margin-right: 3.5em; }
#text .h-8 { margin-right: 4em; }
#text .h-9 { margin-right: 4.5em; }
#text .h-10 { margin-right: 5em; }

