
.text h1.main ,
#text h1.main {
    margin-top: 15px;
    font-size: 1.6em;
    line-height: 1.3em;
}
.text h2.main ,
#text h2.main {
    margin-top: 10px;
    font-size: 1.4em;
    line-height: 1.2em;
}
.text h1.sub ,
#text h1.sub {
    margin-top: 10px;
    font-size: 1.4em;
    line-height: 1.1em;
} 
.text h2.sub ,
#text h2.sub {
    margin-top: 5px;
    font-size: 1.2em;
}
.text .head-part, .text .argument h1 ,
#text .head-part, #text .argument h1 {
    font-size: 1.2em;
    margin: 5px 0;
}
.text .epigraph ,
#text .epigraph {
    width:50%;
    margin: 10px auto;
    text-align: left;
}
.text .stage ,
#text .stage {
    text-align: center;
    margin: 5px 20px;
}
.text .titlepage h2.main ,
#text .titlepage h2.main {
    font-size: 1.6em;
}
.text .titlepage h2.sub ,
#text .titlepage h2.sub {
    font-size: 1.4em;
}
.text .half-title h2.main,
.text .halftitle h2.main ,
#text .half-title h2.main,
#text .halftitle h2.main {
    font-size: 1.4em;
}
.text .half-title h2.sub,
.text .halftitle h2.sub ,
#text .half-title h2.sub,
#text .halftitle h2.sub {
    font-size: 1.2em;
}
.text .half-title, .text .halftitle, .text .titlepage, .text .dedication header, .text .imprint, .text .colophon, .text .align-center ,
#text .half-title, #text .halftitle, #text .titlepage, #text .dedication header, #text .imprint, #text .colophon, #text .align-center {
    text-align: center;
}
