/* Phonemia (LK) */

/* Phonemes */
/* Vowels, monophthongs (short) */
.ph01::before { content:"ɪ"; min-width:7px; display:inline-block; text-align:center; font-variant:normal; }
.ph02::before { content:"ʊ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph03::before { content:"e"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph04::before { content:"ə"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph05::before { content:"æ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph06::before { content:"ʌ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph07::before { content:"ɒ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
/* Vowels, monophthongs (long) */
.ph08::before { content:"iː"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph09::before { content:"uː"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph10::before { content:"ɜː"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph11::before { content:"ɔː"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph12::before { content:"ɑː"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
/* Volwels, diphthongs */
.ph13::before { content:"eɪ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph14::before { content:"aɪ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph15::before { content:"ɔɪ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph16::before { content:"əʊ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph17::before { content:"ɪə"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph18::before { content:"eə"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph19::before { content:"ʊə"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph20::before { content:"aʊ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
/* Vowels, neutralized */
.ph21::before { content:"i"; min-width:6px; display:inline-block; text-align:center; font-variant:normal; }
.ph22::before { content:"u"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
/* Consonants, nasal */
.ph23::before { content:"m"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph24::before { content:"n"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph25::before { content:"ŋ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
/* Consonants, stop/plosive */
.ph26::before { content:"p"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph27::before { content:"b"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph28::before { content:"t"; min-width:7px; display:inline-block; text-align:center; font-variant:normal; }
.ph29::before { content:"d"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph30::before { content:"k"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph31::before { content:"g"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
/* Consonants, affricate */
.ph32::before { content:"dʒ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph33::before { content:"tʃ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
/* Consonants, fricative */
.ph34::before { content:"f"; min-width:7px; display:inline-block; text-align:center; font-variant:normal; }
.ph35::before { content:"v"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph36::before { content:"θ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph37::before { content:"ð"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph38::before { content:"s"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph39::before { content:"z"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph40::before { content:"ʃ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph41::before { content:"ʒ"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph42::before { content:"h"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph43::before { content:"x"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
/* Consonants, approximant */
.ph44::before { content:"l"; min-width:6px; display:inline-block; text-align:center; font-variant:normal; }
.ph45::before { content:"r"; min-width:7px; display:inline-block; text-align:center; font-variant:normal; }
.ph46::before { content:"w"; min-width:8px; display:inline-block; text-align:center; font-variant:normal; }
.ph47::before { content:"j"; min-width:6px; display:inline-block; text-align:center; font-variant:normal; }

/* Suprasegmentals */
.su01::before { content:"ˈ"; display:inline-block; text-align:center; font-variant:normal; }
.su02::before { content:"ˌ"; display:inline-block; text-align:center; font-variant:normal; }
.su03::before { content:"ː"; display:inline-block; text-align:center; font-variant:normal; }
.su04::before { content:"ˑ"; display:inline-block; text-align:center; font-variant:normal; }
.su05::before { content:"."; display:inline-block; text-align:center; font-variant:normal; }

/* Phonemia space  */
#lk_viz {
    display: flex;
    height: 100%;
}

@media print {
  .tab-content > .tab-pane {
    overflow: visible !important;
  }
  #lk_viz {
    display: flex;
    height: auto;
  }
  #footer {
    display: none;
  }
}

/* Phonemia scrollable divs */
#lk_control,#lk_body {
    overflow: auto;
    height: auto;
    position: relative;
}
/* Phonemia control section */
#lk_control {
    width: 30%;
    min-width: 25%;
    margin-right: 25px;
}
#lk_viz .panel-title a {
    display:block;
}
#lk_viz .panel-title {
    color: #920a33;
}
#lk_viz a#clear_con,
#lk_viz a#clear_vow,
#lk_viz a#clear_cl {
    float: right;
    padding-right: 15px;
    font-size: 16px;
    text-decoration: none;
    color: #920a33;
    cursor: pointer;
}
#lk_viz .panel-heading {
    padding: 0 10px;
    height: 30px;
    background-color: #fafafa;
}
#lk_control .panel-heading .panel-title a:hover ,
#lk_control .panel-heading .panel-title a:focus ,
#lk_control .panel-heading .panel-title a:visited {
    color: inherit;
}
#lk_control .panel-body .input-group input {
    display: inline-block;
}

/* Phonemia body section */
#lk_body {
    width: 70%;
    padding-right: 10px;
}
#lk_body .text {
    width: 100%;
    padding-top:15px;
}
#lk_body .text .ln {
    margin-right:5px;
    margin-left:15px;
}
#lk_body .text .l {
    display:block;
}
/* space phonemic transcription for better legibility */
/*
#lk_body .text .w + .pc + .w::before,
#lk_body .text .w + .w::before {
    content:"\a0";
}
*/
#lk_body .text tr td:nth-child(1) .w,
#lk_body .text tr td:nth-child(1) .w + .pc {
   white-space:nowrap;
}
#lk_body .text tr td:nth-child(1) .w {
   display:inline-block;
}
#lk_body .text tr td:nth-child(1) .w + .pc +.w,
#lk_body .text tr td:nth-child(1) .w + .w {
   margin-left:3px;
}

#lk_body .text table#lk_stats tr td:nth-child(1),
/*#lk_body .text table#lk_scan tr td:nth-child(1),*/
#lk_body .text table#lk_wc tr td:nth-child(1) {
    width: inherit;
    border: 0px;
    padding: 0px;
    text-align:left;
    vertical-align:top;
    background-color:#fff;
}
#lk_body .text #lk_scan table {
    margin-bottom:5px;
}
#lk_body .text #lk_scan table tr.scan td {
    text-align:center;
    padding-top:2px;
}
#lk_body .text #lk_scan table tr.line td {
    padding-right:4px;
}
#lk_body .text table#lk_scan tr.scan {
    line-height:0px;
}
#scan_results td > span {
    display:inline-block;
    width:15px;
}
#lk_body .text table#lk_stats tr td,
#lk_body .text table#lk_wc tr td {
    border: 1px dotted black;
    padding: 0px;
    text-align:center;
    width:inherit;
    min-width:30px;
}
#lk_body table#lk_wc tr td:nth-child(2) {
    text-align:left;
}
#lk_body table#lk_wc tr td:nth-child(2) span {
    min-width: 35px;
    vertical-align: top;
    display: inline-block;
}
#lk_body .text table#lk_stats tr:nth-child(even),
#lk_body .text table#lk_wc tr:nth-child(even) {
    background-color:#eee;
}
#lk_body .text tr th:nth-child(1) {
    padding: 2px;
    width:30px;
    text-align:left;
    font-size:inherit;
}
#lk_body .text tr th {
    text-align:center;
    font-size:14px;
}
#lk_body .text table#lk_stats tr td.t_vt ,
#lk_body .text table#lk_stats tr td.t_ct {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
#lk_body .text table#lk_stats tr td.t_c_n {
    border-left: 3px solid black;
}
#lk_body .text table#lk_stats tr td.t_v_d {
    border-left: 1px solid black;
}
#lk_body .text tr#totals td:not(:first-child) {
    border-top: 2px solid black;
    font-weight:700;
    background-color:#ddd;
}
.idsSelected,
.idsSelected * {
    background-color: rgb(136, 188, 223) !important;
    color:#fff !important;
}
.figures {
    padding-left:0;
}
.figures li {
    list-style-type: none;
    padding-right: 5px;
    display: inline;
}
.figures a {
    white-space:nowrap;    
}
#viz_overview h2 {
    font-size:1.4em;
    line-height:1.2em;
}

.label-analytical {
    background-color:#abc;
}

/* POEMVIS */

#poemvis_frame {
    width:100%;
    height:99%;
    border:0;
    overflow:hidden;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px; /* half width of the spinner gif */
    margin-top: -25px; /* half height of the spinner gif */
    text-align: center;
    z-index: 1234;
    overflow: auto;
}


/* DoubleTreeJS */

#dtreejs_frame {
    width:100%;
    height:99%;
    border:0;
    overflow:hidden;
}

.viz_external ul li {
    margin-bottom:5px;
}
