th.kwicTH {
    background-color: #fbb4ae;
    cursor:pointer;
}

td.kwicTD{
    background-color: #ccebc5;
}

th.kwicTHHit, td.kwicTDHit {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

span.rowText {
    font-weight:bold;
}
